/* .navbar {
  background-color: red;
  display: block;
  text-align: center;
}

.navbar .logo {
  display: flex;
}

.navbar img {
  width: 50%;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navbar input {
  border: none;
  border-radius: 1rem;
} */
