* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 0;
  z-index: 10;
  background-color: rgba(17, 24, 39);
  position: fixed;
  width: 150px;
  height: 100%;
  text-align: right;
  top: 0;
  left: 0;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  padding: 10px 15px;
}

.nav-item a {
  color: rgba(156, 163, 175);
  text-decoration: none;
  font-size: 2rem;
}

.nav-item a:hover {
  color: white;
  border-bottom: 2px solid palevioletred;
  transform: scale(1.1);
}

.nav-item.start a {
  color: white;
  text-transform: uppercase;
}
